PORT = 3000
MONGO_URI =mongodb+srv://admin:pass123@cluster1.jsi29.mongodb.net/storybooks?retryWrites=true&w=majority
GOOGLE_CLIENT_ID = 60434444244-0a59i77ksfokom45ctqtfun2v4bflkai.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = 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
